.bitcoin-price-component {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bpc-disclaimer {
  font-size: 0.65em;
}
button.bpc-refresh {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  &:hover {
    background-color: #aaa;
    border: 1px solid #aaa;
  }
}
.bpc-refresh:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.increased {
  color: red;
  transition: color 0.5s ease-out;
  &::after {
    content: " ↑";
  }
}
.decreased {
  color: yellow;
  transition: color 0.5s ease-out;
  &::after {
    content: " ↓";
  }
}

.unchanged {
  color: green;
  transition: color 0.5s ease-out;
  &::after {
    content: " ↔";
  }
}
