div.bitcoin-price-component {
  .bpc-refresh:disabled,
  .bpc-refresh.disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  .bpc-USD,
  .bpc-GBP,
  .bpc-EUR {
    &.changed {
      color: red;
      transition: color 2s ease-out;
    }

    &.green {
      color: green;
    }
  }
}
